@use '../utils/colors' as *;
@use '../utils/ui-kit' as *;

.features-section {
    padding: 80px 0px 40px 0px;
    background-color: white;
}

.features-section-content-wrapper {
    overflow: hidden;
}

.features-section-heading {
    margin-bottom: 80px;
}

.features-list {
    transition: transform 0.95s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 0.6s ease-in-out;
    transform: translateX(50px) translateY(-60px);
    opacity: 0;
}

.features-list-viewed {
    transform: none;
    opacity: 1;
}

.feature-icon {
    display: block;
    margin: 0 auto;
    width: 55%;
    max-width: 230px;
    min-width: 150px;
    position: relative;
    z-index: 1;
}

.feature-text {
    z-index: 0;
    position: relative;
    bottom: 100px;
    background-color: $light-blue;
    border-radius: 20px;
    color: $soft-black;
    text-align: center;
    padding: 130px 0 44px 0;
}

.feature-title {
    font-weight: 600;
    margin-bottom: 15px;
    padding: 0 15px;
    @extend %headline-1;
}

.feature-description {
    font-weight: normal;
    padding: 0 50px;
    line-height: 25px;
    @extend %pretitle-1;
}

.splide__arrows {
    display: none;
}

@media (max-width: 900px) {
    .splide__pagination {
        column-gap: 30px;
    }
    
    .splide__pagination__page {
        width: 10px;
        height: 10px;
        border-radius: 1000px;
        background-color: $blue;
    }
    
    .splide__pagination .is-active {
        background-color: $purple;
    }
}