@use '../utils/colors' as *;
@use '../utils/ui-kit' as *;

.help {
    padding: 120px 0;
    background-color: white;
}

.help-section-content-wrapper {
    border-radius: 25px;
    background-color: #F9FCFF;
    padding: 55px 30px 72px 100px;
}

.help-section-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 15px;
    margin-bottom: 48px;
}

.help-section-text {
    width: 66%;
}

.help-section-heading {
    text-align: left;
    margin-bottom: 20px;
}

.highlighted-text {
    font-weight: 600;
}

.help-section-picture {
    position: relative;
    top: -100px;
    width: 20%;
    min-width: 172px;
}

.phone-numbers-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 30px;
}

.phone-number {
    display: block;
    font-weight: 600;
    color: $soft-black;
    margin-bottom: 14px;
    @extend %headline-1;
}


@media (max-width: 600px) {
    .phone-numbers-list {
        grid-template-columns: 1fr;
        row-gap: 45px;
    }

    .help-section-picture {
        min-width: 90px;
        top: -40px;
    }

    .help-section-content-wrapper {
        padding: 20px 20px 50px 20px;
    }
}