@use '../utils/colors' as *;
@use '../utils/ui-kit' as *;

.mobile-app {
    background-color: #F9FCFF;
    padding: 115px 0;
}

.mobile-app-section-content {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 35px;
    align-items: flex-start;
    margin-bottom: 97px;
}

.mobile-app-info {
    width: 57%;
}

.mobile-app-section-heading {
    text-align: left;
    margin-bottom: 35px;
    transition: transform 0.95s ease-in-out, opacity 0.5s linear;
    opacity: 0;
    transform: translateY(-50px);
}

.mobile-app-section-heading-viewed {
    opacity: 1;
    transform: none;
}

.mobile-app-description {
    font-weight: 600;
    margin-bottom: 45px;
    width: 83%;
}

.mobile-app-feature {
    display: flex;
    column-gap: 30px;
    align-items: center;
    width: 75%;
    font-weight: normal;
    line-height: max(28px, 1.75vw);
    color: $soft-black;
    margin-bottom: 40px;
    @extend %subtitle-2;

    &:last-child {
        margin-bottom: 0px;
    }
}

.mobile-app-screens {
    width: 35%;
    display: flex;
    min-width: 300px;
}

.app-screen-1, .app-screen-2 {
    width: 53%;
}

.app-screen-1 {
    opacity: 0;
    transition: opacity 1s ease;
}

.app-screen-2 {
    position: relative;
    top: 60px;
    right: -40px;

    transition: top 1s cubic-bezier(0.215, 0.610, 0.355, 1), right 1.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.mobile-app-screens-viewed {
    .app-screen-1 {
        opacity: 1;
    }

    .app-screen-2 {
        top: 35px;
        right: 40px;
    }
}

.download-button {
    display: block;
    width: fit-content;
    margin: 0 auto;
}


@media (max-width: 690px) {
    .mobile-app-section-content {
        flex-direction: column;
        align-items: center;
    }

    .mobile-app-info {
        width: 100%;
    }

    .mobile-app-screens {
        position: relative;
        left: 25px;
        justify-content: center;
        width: 100%;
        max-width: 400px;
        min-width: 0px;
    }
}