@use '../utils/colors' as *;
@use '../utils/ui-kit' as *;

.problems {
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: #F9FCFF;
    overflow: hidden;
}

.problems-section-heading {
    margin-bottom: 20px;
}

.problems-section-description {
    position: relative;
    text-align: center;
    width: 45%;
    margin: 0 auto 125px auto;
}

.pointing-arrow {
    position: absolute;
    right: -120px;
    top: 10px;
}

.problems-links {
    position: relative;
    right: 2.5%;
    width: 106%;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 50px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.problem {
    @extend .outline-button;
    border-radius: 30px;
    
    transform: scaleX(0);
    transform-origin: left;
    transition: scale 0.4s, transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
        background-color: transparent;
        scale: 1.1;
    }

    &:active {
        background-color: transparent;
        color: $purple;
    }
}

.problems-links-viewed .problem {
    transform: scaleX(1);
}

.problem-solid {
    color: white;
    background-color: $purple;

    &:hover {
        background-color: $purple;
    }
}

@media (min-width: 1700px) {
    .problems-links {
        justify-content: center;
    }
}

@media (max-width: 1240px) {
    .problems-links {
        justify-content: center;
    }
}

@media (max-width: 515px) {
    .problems-section-description {
        width: 100%;
        margin-bottom: 30px;
    }

    .pointing-arrow {
        position: relative;
        left: 50px;
        display: block;
        margin: 0 auto;
    }

    .problem:nth-child(n+7) {
        display: none;
    }
}