@use '../utils/ui-kit' as *;
@use '../utils/colors' as *;

.qualification {
    padding: 100px 0;

    .splide {
        display: none;
    }
}

.qualification-section-subheading {
    text-align: left;
}

.qualification-section-heading {
    width: 75%;
    text-align: left;
    margin-bottom: 33px;
}

.underlined-text {
    position: relative;
    display: inline-block;
    color: inherit;
    
    img {
        position: absolute;
        width: 0%;
        bottom: -20px;
        left: 0;
        transition: width 0.4s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    }
}

.qualification-viewed {
    .underlined-text img {
        width: 100%;
    }
}

.qualification-section-description {
    width: 67%;
    margin-bottom: 58px;
}

.requirements {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 30px;
    flex-wrap: wrap;
}

.requirement {
    background-color: $light-blue;
    border-radius: 20px;
    transition: opacity 0.6s ease-in;
    opacity: 0;
}

.requirement-viewed {
    opacity: 1;
}

.requirement-without-icon {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 80px;
}

.requirement-with-icon {
    display: flex;
    width: 55%;
    min-width: 500px;
    padding: 28px 59px 28px 30px;
    justify-content: space-between;
    column-gap: 20px;
    align-items: flex-start;

    img {
        transition: scale 0.35s ease-in;
    }

    &:hover img {
        scale: 1.05;
    }
}

.requirement-text {
    width: 67%;
}

.requirement-title {
    font-weight: 600;
    color: $soft-black;
    margin-bottom: 15px;
    @extend %headline-1;
}

.requirement-description {
    font-weight: normal;
    line-height: 27px;
    @extend %subtitle-1;
}

@media (max-width: 1000px) {
    .qualification-section-heading {
        width: 100%;
    }

    .requirements {
        justify-content: flex-start;
    }

    .requirement {
        width: 100%;
    }
}

@media (max-width: 550px) {
    .qualification-section-heading {
        word-wrap: break-word;
    }

    .qualification-section-description {
        width: 100%;
    }

    .requirements {
        display: none;
    }

    .requirement-with-icon, .requirement-without-icon {
        flex-direction: column;
        align-items: center;
        padding: 28px 10px;
        min-width: 0px;
    }

    .requirement-text {
        width: 100%;
    }

    .requirement-title, .requirement-description {
        width: 100%;
        text-align: center;
    }

    .qualification .splide {
        display: block;

        .splide__pagination {
            margin-top: 20px;
        }
    }
}