@use 'utils/colors' as *;
@use 'utils/ui-kit' as *;

.footer {
    background-color: #F9FCFF;
    padding: 80px 0;
}

.footer-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 15px;
}

.social-networks {
    width: 15%;
    min-width: 180px;
}

.logo {
    width: 100%;
    margin-bottom: 37px;
    display: block;

    img {
        width: 100%;
    }
}

.social-networks-links {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}

.contacts {
    font-style: normal;
    width: 15%;
    min-width: 180px;

    .social-networks-links {
        display: none;
    }
}

.contact {
    margin-bottom: 21px;

    &:last-child {
        margin-bottom: 0px;
    }
}

.contact-label {
    color: $soft-black;
    font-weight: normal;
    margin-bottom: 6px;
    @extend %small-text;
}

.footer-link {
    color: $purple;
    font-weight: 600;
    @extend %subtitle-2;
}

.navigation-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 24px;
}

.footer-link-2 {
    display: block;
    width: fit-content;
    font-weight: normal;
    color: $soft-black;
    @extend %small-text;

    &:not(:last-child) {
        margin-bottom: 20px;
    }

    &::after {
        content: '';
        display: block;
        width: 100%;
        background-color: $soft-black;
        height: 1px;
        transition: width 0.2s ease-in;
    }

    &:hover::after {
        width: 0%;
    }
}


@media (max-width: 1000px) {
    .footer-content-wrapper {
        justify-content: center;
        column-gap: 50px;
        row-gap: 40px;
        flex-wrap: wrap;
    }
}

@media (max-width: 800px) {
    .navigation-links {
        column-gap: 20px;
    }
}

@media (max-width: 360px) {
    .footer-content-wrapper {
        justify-content: flex-start;
    }

    .logo {
        order: 1;
        width: 100px;
        margin-bottom: 0px;
    }

    .social-networks .social-networks-links {
        display: none;
    }

    .contacts {
        order: 3;

        .social-networks-links {
            margin-top: 40px;
            display: flex;
        }
    }

    .navigation-links {
        order: 2;
    }

    .other-links {
        order: 4;
    }
}