@use 'utils/colors' as *;
@use 'utils/ui-kit' as *;

.header {
    padding-top: 70px;
    padding-bottom: 95px;
    background-color: #F9FCFF;
}

@media (max-width: 765px) {
    .header {
        padding-top: 20px;
        padding-bottom: 65px;
    }
}


.hero {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 30px;
    align-items: flex-start;
}

.hero-content {
    width: 47%;
}

.hero-heading {
    color: $purple;
    font-weight: 800;
    margin-bottom: 17px;
    @extend %title-1;

    transition-duration: 0.65s;
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.hero-subheading {
    color: $soft-black;
    font-weight: 600;
    margin-bottom: 76px;
    @extend %title-2;

    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.hero-text {
    transform: translateX(-50px);
    opacity: 0;
    transition-property: transform, opacity;
}

.hero-text-viewed {
    transform: translateX(0px);
    opacity: 1;
}

.find-psych-button {
    display: inline-block;
    margin-bottom: 40px;
}

.price {
    font-weight: 600;
    text-align: center;
    width: 65%;
    @extend %subtitle-1;

    transition-duration: 0.85s;
    transition-timing-function: ease-in-out;
}

.hero-illustration {
    width: 47%;
    min-width: 250px;
    transition: scale 1s cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: right bottom;
    scale: 0;
}

.hero-illustration-viewed {
    scale: 1;
}

@media (max-width: 795px) {
    .hero {
        flex-direction: column;
        align-items: center;
    }

    .hero-content {
        width: 100%;
        text-align: center;
    }

    .hero-subheading {
        margin-bottom: 45px;
    }

    .hero-illustration {
        width: 50%;
    }

    .price {
        width: 100%;
    }
}