$purple: #7872B9;
$light-purple: #9691D2;

$soft-purple: #D7C3E6;
$light-soft-purple: #F1E6F7;

$blue: #CDE1FF;
$light-blue: #EBF5FF;

$red: #FA788C;
$light-red: #FAAAB4;

$yellow: #FACD6E;

$soft-black: #4D4D52;