@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/MontserratExtraBold.woff');
    font-weight: 800;
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/MontserratSemiBold.woff');
    font-weight: 600;
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/MontserratMedium.woff');
    font-weight: 500;
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/MontserratRegular.woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/MontserratLight.woff');
    font-weight: 300;
}